*.fls
*.aux
*.aux
*.synctex.gz.sum.synctex
*.gz.sum.synctex
*.synctex.gz
*.aux
*.log
*.out
*.aux
*.fdb_latexmk
*.fls
*.log
*.lyx
*.synctex.gz.sum.synctex
*.synctex.gz
*.lyx
*.log
*.fls
*.fdb_latexmk
*.aux
*.gz
*.log
*.lyx
*.gz.sum.synctex
*.fdb_latexmk
MIT_Notes.fdb_latexmk
MIT_Notes.log
MIT_Notes.synctex.gz
